<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Новый пациент</title>
</head>

<body>
  <div th:replace="main/common-fragments.html :: header"></div>
  <div th:replace="main/common-fragments.html :: sidebar"></div>
  <main>
    <div class="container-fluid">
      <form th:method="post" th:action ="@{/patients}" th:object="${patient}" class="needs-validation">
        <div class="row">
          <input class="btn" type="submit" value="Сохранить">
        </div>
        <div th:replace="people/common-fields.html :: person-fields"></div>
      </form>
    </div>
  </main>
  <div th:replace="main/common-fragments.html::common-links"></div>
</body>
</html>