<!doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Редактировать данные</title>
  <div th:replace="/main/common-fragments.html :: common-links"/>
</head>
<body>

<div th:replace="/main/common-fragments.html :: #navbar"></div>
<br>
<div class="container-fluid">
    <div class="row">
      <div th:replace="/main/common-fragments.html :: #sidebarMenu"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="container-fluid">
              <form th:method="PATCH" th:action = "@{/patients/{id}(id=${patient.getId()})}" th:object="${patient}" novalidate>
                  <div class="d-flex justify-content-end">
                    <input class="btn btn-primary btn-sm" type="submit" value="Сохранить">
                  </div>
                  <div th:replace="/person/common-fields.html :: person-fields"></div>
              </form>
              <div class="d-flex justify-content-end">
                  <form th:method="DElETE" th:action = "@{/patients/{id}(id=${patient.getId()})}" th:object="${patient}" novalidate>
                      <input class="btn btn-danger btn-sm" type="submit" value="Удалить">
                  </form>
              </div>
         </div>
      </main>
    </div>
  </div>

</body>
</html>