<!doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактировать данные</title>
    <div th:replace="/main/common-fragments.html :: common-links"/>
    <style>
        .btn-save{margin-left:0}
        .btn-delete{position:absolute;right:0}
    </style>
</head>
<body>

<div th:replace="/main/common-fragments.html :: header"/>
<div th:replace="/main/common-fragments.html :: menu"/>

<div class="container-fluid main-zone">
    <form  th:method="DElETE" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}" novalidate>
        <input class="btn btn-delete" type="submit" value="Удалить">
    </form>
    <form th:method="PATCH" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}" novalidate>
        <input class="btn btn-save" type="submit" value="Сохранить">
        <div th:replace="/patients/common-fields.html :: patient-fields"/>
    </form>

</div>

</body>
</html>