<!--Common navbar for app-->
  <nav th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-2 col-lg-2 mr-0 px-3">Healthy people</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">войти</a>
      </li>
    </ul>
  </nav>

<!--Common sidebar for app-->
  <nav th:fragment="sidebar" class="sidebar">
       <ul>
            <li>
              <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">Главная</span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="/patients">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">Пациенты</span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="/doctors">
                <i class="fa fa-user-md fa-2x"></i>
                <span class="nav-text">Доктора</span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="/therapies">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">Визиты</span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="#">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="nav-text">Рассылка</span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="#">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="nav-text">Еще что-то</span>
              </a>
            </li>
      </ul>
  </nav>

<!--Bootstrap and common style links for css-->
<div th:fragment="common-links">
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</div>

<!-- Script and links for dynamic search in input field-->
<div th:fragment="style-select2">
      <link rel="stylesheet" href="https://snipp.ru/cdn/select2/4.0.13/dist/css/select2.min.css">
      <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/select2.min.js"></script>
      <script src="https://snipp.ru/cdn/select2/4.0.13/dist/js/i18n/ru.js"></script>
      <script>
        $(document).ready(function() {
          $('.js-select2').select2({
            placeholder: "Выбрать пациента, если он постоянный",
            maximumSelectionLength: 4,
            language: "ru"
          });
        });
      </script>
</div>