<!Doctype html>
<html lang="ru" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>Список пациентов</title>

</head>
<body>
<div th:replace="main/common-fragments.html :: header"></div>

<div id="container-fluid">
    <div th:replace="main/common-fragments.html :: menu"></div>

</div>

</body>
</html>