<!doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактировать данные</title>
    <div th:replace="/main/common-fragments.html :: common-links"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="/main/common-fragments.html :: #navbar"></div>
    <div th:replace="/main/common-fragments.html :: #sidebarMenu"></div>

    <div class="content-container">
        <div class="container-fluid">

            <form th:method="PATCH" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}" novalidate>
                <div class="d-flex justify-content-end">
                    <input class="btn btn-primary btn-sm" type="submit" value="Сохранить">
                </div>
                <div th:replace="/person/common-fields.html :: #person-fields"></div>
            </form>
            <div class="d-flex justify-content-end">
                <form th:method="DElETE" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}" novalidate>
                    <input class="btn btn-danger btn-sm" type="submit" value="Удалить">
                </form>
            </div>

        </div>
    </div>

</body>
</html>