<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>О программе</title>
</head>
<body>
<div th:replace="main/common-fragments.html :: header"></div>
<div th:replace="main/common-fragments.html :: sidebar"></div>
<main>
  <div class="container">
    <h1 class="mt-5">Healthy people</h1>
    <p class="lead">Программа для учета данных в медицинской фирмы. Предусматривает хранение данных пациентов, медицинского персонала, визиты и вызовы врачей.</p>
    <p>Проект развивается и является "open source": <a href="https://github.com/A-314/healthy-people">cсылка на git.</a></p>
  </div>
</main>
<div th:replace="main/common-fragments.html::common-links"></div>
</body>
</html>