<div th:fragment="patient-fields">
    <div class="row g-3">
        <div class="col-sm-4 input-group-sm">
            <label for="Name">Имя:</label>
            <input type="text" th:field="*{person.name}" class="form-control" id="Name" />
        </div>
    <div class="col-sm-4 input-group-sm">
      <label for="Surname">Фамилия:</label>
      <input type="text" class="form-control" th:field="*{person.surname}" id="Surname" />
    </div>
    <div class="col-sm-4 input-group-sm">
      <label for="Patronymic">Отчетство:</label>
      <input type="text" class="form-control bg-color" th:field="*{person.patronymic}" id="Patronymic"/>
    </div>
  </div>
</div>
