<!doctype>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Редактирование данных</title>
</head>
<body>

  <div th:replace="main/common-fragments.html :: header"></div>
  <div th:replace="main/common-fragments.html :: sidebar"></div>

  <main>
    <div class="container-fluid">
      <form th:method="DElETE" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}">
        <input class="btn btn-on-right" type="submit" value="Удалить">
      </form>

      <form th:method="PATCH" th:action = "@{/doctors/{id}(id=${doctor.getId()})}" th:object="${doctor}" class="needs-validation">
        <input class="btn btn-on-left" type="submit" value="Сохранить">
        <div th:replace="people/common-fields.html :: person-fields"></div>
      </form>
    </div>
  </main>

  <div th:replace="main/common-fragments.html::common-links"></div>
</body>
</html>