<div th:fragment="treatment-fields">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="row g-3">
               <div class="col-md-3">
                    <label for="date">Дата записи к врачу:</label>
                    <input class="form-control" type="date" th:field="*{date}" id="date" th:value="${date}">
                </div>
                <div class="col-md-6">
                    <label for="name">Следует уточнить, обращался ли пациент ранее</label>
                    <input class="form-control" type="text" th:field="*{patientName}" id="name" placeholder="Как можно обращаться к пациенту, имя">
                </div>
                <div class="col-md-6">
                    <select class="js-select2" style="width:100%" th:field="*{patient}" id="patient">
                        <option value="" selected>--</option>
                        <option th:each="patient:${patients}"
                                th:value="${patient.getId()}"
                                th:utext="${patient.getPerson()}">
                    </select>
                </div>
                <div class="col-sm-12 input-group-sm g-4">
                    <textarea class="form-control" placeholder="Симптомы, состояние пациента..." th:field="*{description}" id="floatingTextarea"></textarea>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Адрес, по которому будут ожидать врача">
                </div>
            </div>
         </div>
    </div>
</div>

