<!Doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Корректировка данных</title>
</head>
<body>
<div th:replace="main/common-fragments.html :: header"></div>
<div th:replace="main/common-fragments.html :: sidebar"></div>
<main>
  <div class="container-fluid">
    <form method="post" action="/" th:object="${treatment}">
      <input class="btn" type="submit" value="Сохранить изменения">
      <div th:replace="treatments/common-fields.html:: treatment-fields"></div>
    </form>
  </div>
</main>

<div th:replace="main/common-fragments.html::common-links"></div>
<div th:replace="main/common-fragments.html::style-select2"></div>
</body>
</html>