.fa{position:relative;display:table-cell;width:50px;height:36px;text-align:center;vertical-align:middle;font-size:20px}
.main-menu{background:linear-gradient(to right, #212121,#2d3239);position:absolute;top:38px;bottom:0;left:0;width:160px}
.main-menu li{position:relative;display:block}
.main-menu li>a{position:relative;display:table;border: 1px solid black;border-collapse:collapse;color:#999;font-family:arial;font-size:14px;text-decoration:none;}
.main-menu .nav-text{position:relative;display:table-cell;vertical-align:middle;width:130px;font-family:'Roboto', sans-serif}
.main-menu>ul.logout{position:absolute;left:0;bottom:0}
nav ul,nav li{outline:0;margin:0;padding:0}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a{color:yellow;background-color:#5fa2db}
.color-back{background:linear-gradient(to right, #212121,#2d3239)}
.table-zone {margin-left: 160px;font-size:14px;width: auto;font-family: sans-serif}
.navbar{color: #e6f3fe}

*{font-family:sans-serif}
.btn{margin:1%; font-size:15px; font-weight:bold; width:auto; background-color: #82b6e3}
.table{background-color:#e6f3fe;border-radius: 5px; font-size:15px; margin: 0 1% 0 1%;width: 98%;font-family: sans-serif}
.btn:hover{color:yellow}