<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy people</title>
    <script src="https://www.google.com/jsapi"></script>

</head>
<body>
    <div th:replace="main/common-fragments.html :: header"></div>
    <div th:replace="main/common-fragments.html :: sidebar"></div>
    <main>
        <div th:replace="main/common-fragments.html::bar-chart"></div>
        <div th:replace="main/common-fragments.html::pie-chart"></div>

        <div class="container-fluid">
            <div class="row p-3">
                <div class="card col-5">
                    <div class="card-body">
                        <div id="pie-chart" ></div>
                    </div>
                </div>

                <div class="card col-6">
                    <div class="card-body">
                        <div id="bar-chart" ></div>
                    </div>
                </div>

                <hr>
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">Бухгалтерский учет</h5>
                        <p class="card-text">Отправить отчеты по бухгалтерскому учету</p>
                        <a href="#" class="btn btn-primary">Сформировать данные</a>
                    </div>
                </div>
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">Управленческий учет</h5>
                        <p class="card-text">Отправить отчеты по управленческому учету</p>
                        <a href="#" class="btn btn-primary">Сформировать данные</a>
                    </div>
                </div>
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">Фонд ЗП</h5>
                        <p class="card-text">Отправить отчеты по зарплате</p>
                        <a href="#" class="btn btn-primary">Сформировать данные</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="main/common-fragments.html::common-links"></div>

    <div th:replace="main/common-fragments.html::style-select2"></div>

</body>

</html>