<div th:fragment="therapy-fields">
    <div>
        <div class="border">
            <h3 class="">Персональны данные</h3>
            <div class="row п-3">
                <div class="col-sm-4">
                    <label  for="Patient">Доктор: </label>
                    <select class="js-select2" th:field="*{patient}" id="Patient">
                        <option value="" selected> -- </option>
                        <option th:each="patient  : ${patients}"
                                th:value="${patient.getId()}"
                                th:utext="${patient.getPerson()}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label  for="Doctor">Доктор: </label>
                    <select class="js-select2" th:field="*{doctor}" id="Doctor">
                        <option value="" selected> -- </option>
                        <option th:each="doctor : ${doctors}"
                                th:value="${doctor.getId()}"
                                th:utext="${doctor.getPerson()}"></option>
                    </select>
                </div>

                <div class="col-sm-5 input-group-sm g-4">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Симптомы,состояние пациента" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Симптомы,состояние пациента</label>
                    </div>
                </div>
                <div class="col-sm-4 input-group-sm g-4">
                    <div class="form-floating">
                        <input type="text" th:field="*{diagnosis}" class="form-control" id="Disease"/>
                        <label for="Disease">Диагноз:</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


