<div th:fragment="therapy-fields">
    <div>
        <div class="d-flex justify-content-center">
            <h3 class="">Персональны данные</h3>
        </div>
        <div class="border">
            <div class="row">
                <div class="col-sm-4">
                    <label  for="Patient">Пациент: </label>
                    <select class="js-select2"  th:field="*{patient}" id="Patient">
                        <option value="" selected> -- </option>
                        <option th:each="patient  : ${patients}"
                                th:value="${patient.getId()}"
                                th:utext="${patient.getPerson()}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label  for="Doctor">Доктор: </label>
                    <select class="js-select2" th:field="*{doctor}" id="Doctor">
                        <option value="" selected> -- </option>
                        <option th:each="doctor : ${doctors}"
                                th:value="${doctor.getId()}"
                                th:utext="${doctor.getPerson()}"></option>
                    </select>
                </div>
                <div class="col-sm-4 input-group-sm">
                    <label for="Disease">Диагноз:</label>
                    <input type="text" th:field="*{diagnosis}" class="form-control" id="Disease" />
                </div>
                <div class="col-sm-4 input-group-sm">
                    <label for="symptoms">Анамнез:</label>
                    <textarea class="form-control" placeholder="Симптомы, состояние пациента..." id="symptoms"></textarea>
                </div>
                <div class="col-sm-4 input-group-sm">
                    <label for="preparations">Препараты:</label>
                    <textarea class="form-control" placeholder="Рекомендуемые препараты" id="preparations"></textarea>
                </div>
            </div>
         </div>
    </div>
</div>


