<!doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактировать данные</title>
    <div th:replace="/main/common-fragments.html :: common-links"/>
</head>
<body>

<div th:replace="/main/common-fragments.html :: #navbar"></div>
<div th:replace="/main/common-fragments.html :: #sidebarMenu"></div>

<div class="content-container">
    <div class="container-fluid">

        <form th:method="PATCH" th:action = "@{/therapies/{id}(id=${therapy.getId()})}" th:object="${therapy}" novalidate>
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary btn-sm" type="submit" value="Сохранить">
            </div>
            <div th:replace="/therapies/common-fields.html :: therapy-fields"></div>
        </form>
        <div class="d-flex justify-content-end">
            <form th:method="DElETE" th:action = "@{/therapies/{id}(id=${therapy.getId()})}" th:object="${therapy}" novalidate>
                <input class="btn btn-danger btn-sm" type="submit" value="Удалить">
            </form>
        </div>

    </div>
</div>

</body>
</html>