<!doctype>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактирование данных</title>
</head>

<body>
    <div th:replace="main/common-fragments.html :: header"></div>
    <div th:replace="main/common-fragments.html :: sidebar"></div>
    <main>
        <div class="container-fluid">
            <form  th:method="delete" th:action = "@{/therapies/{id}(id=${therapy.getId()})}" th:object="${therapy}" novalidate>
                <input class="btn btn-on-right" type="submit" value="Удалить">
            </form>
            <form th:method="patch" th:action = "@{/therapies/{id}(id=${therapy.getId()})}" th:object="${therapy}" novalidate>
                <input class="btn btn-on-left" type="submit" value="Сохранить">

                <div th:replace="therapies/common-fields.html :: therapy-fields"></div>
            </form>
        </div>
    </main>

    <div th:replace="main/common-fragments.html::common-links"></div>
    <div th:replace="main/common-fragments.html::style-select2"></div>
</body>
</html>