<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Therapy</title>
    <div th:replace="/main/common-fragments.html :: common-links"></div>
</head>

<body>
<div th:replace="/main/common-fragments.html :: #navbar"></div>
<div th:replace="/main/common-fragments.html :: #sidebarMenu"></div>

<div class="content-container">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h5><b>Вызовы</b></h5>
        </div>
        <a href="therapies/new" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Добавить вызов</a>
        <hr>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Вызовы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="therapy:${therapies}">
                <td><a th:text="${therapy.getId()}" th:href="@{therapies/{id}/edit(id=${therapy.getId()})}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>